// custom colors



$custom-theme-colors: (
  clr-black:                  $clr-black,
  clr-black-50:               $clr-black-50,
  clr-black-70:               $clr-black-70,
  clr-white:                  $clr-white,
  clr-aircraft-white:         $clr-aircraft-white,
  clr-gold:                   $clr-gold,
  clr-gold-50:                $clr-gold-50,
  clr-teal:                   $clr-teal,
  clr-intergalactic-highway:  $clr-intergalactic-highway,
  clr-miyazaki-verdant:       $clr-miyazaki-verdant,
  clr-miyazaki-verdant-30:    $clr-miyazaki-verdant-30,
  clr-forest-ride:            $clr-forest-ride,
  
);
$theme-colors: map-merge($custom-theme-colors, $theme-colors);