// Define default accordion colors
$default-accordion-bg: red;
$default-accordion-button-active-bg: #007bff;

@mixin accordion-styles(
    $accordion-bg: $default-accordion-bg, 
    $active-bg-color: $default-accordion-button-active-bg,
    $icon-color: rgba(255,255,255,1),
    $icon-active-color: rgba(255,255,255,1),
    $accordion-button-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='#{$icon-color}' stroke-linecap='round' stroke-linejoin='round'><path d='M2 5L8 11L14 5'/></svg>"),
    $accordion-button-active-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='#{$icon-active-color}' stroke-linecap='round' stroke-linejoin='round'><path d='M2 5L8 11L14 5'/></svg>")
    ) {
    .accordion {
        background-color: $accordion-bg;
        .accordion-item{
            background-color: $accordion-bg;
            color:$active-bg-color !important;
        }
        .accordion-button {
            background-color: $accordion-bg !important;
            transition: background-color 0.3s;
            color:$active-bg-color !important;

            &.active {
                background-color: $active-bg-color;
                color: red; // Change text color if needed
            }

            &:not(.collapsed) {
                background-color: $active-bg-color;
                &::after {
                    background-image: $accordion-button-active-icon;
                }
            }
            &::after{
                background-image: $accordion-button-icon;
            }
            // Icon color
            .accordion-icon {
                color: $icon-color;

                &.active {
                    color: $icon-active-color; // Change icon color when active
                }
            }
        }
    }
}

// blog page mixin 
@mixin blog-content-style-group{
    @extend .text-clr-black; 
    @extend .fw-300;
    @extend .fs-xs-12; 
    @extend .lh-xs-18; 
    @extend .fs-tablet-8;
    @extend .lh-tablet-12;
    @extend .fs-pc-14;
    @extend .lh-pc-20; 
    @extend .p-0;
    @extend .m-0;
}
@mixin blog-pragraph-title-style-group{
    @extend .text-clr-black; 
    @extend .fw-500;
    @extend .fs-xs-16; 
    @extend .lh-xs-24; 
    @extend .fs-tablet-9;
    @extend .lh-tablet-12;
    @extend .fs-pc-16;
    @extend .lh-pc-24; 
    @extend .py-2;
    @extend .m-0;
}

@mixin single-blog-time{
    // p-0 m-0 fw-500 text-clr-white fs-xs-12 lh-xs-18 fs-tablet-7 lh-tablet-10 fs-pc-12 lh-pc-18
    @extend .text-clr-white; 
    @extend .fw-500;
    @extend .fs-xs-12; 
    @extend .lh-xs-18; 
    @extend .fs-tablet-7;
    @extend .lh-tablet-10;
    @extend .fs-pc-12;
    @extend .lh-pc-28; 
    @extend .p-0;
    @extend .m-0;
        
}
@mixin single-blog-title{
    @extend .text-clr-white; 
    @extend .fw-500;
    @extend .fs-xs-12; 
    @extend .lh-xs-18; 
    @extend .fs-tablet-8;
    @extend .lh-tablet-12;
    @extend .fs-pc-14;
    @extend .lh-pc-20; 
    @extend .p-1;
    @extend .m-0;

}
@mixin slider-blog-title{
    @extend .text-clr-black;
    @extend .text-reset;
    @extend .text-decoration-none;
    @extend .fw-500;
    @extend .fs-xs-10; 
    @extend .lh-xs-15; 
    @extend .fs-tablet-9;
    @extend .lh-tablet-12;
    @extend .fs-pc-16;
    @extend .lh-pc-20; 
    @extend .p-0;
    @extend .m-0;
}
@mixin slider-blog-paragraph{
    @extend .text-clr-black;
    @extend .fw-300;
    @extend .fs-xs-10; 
    @extend .lh-xs-15; 
    @extend .fs-tablet-7;
    @extend .lh-tablet-10;
    @extend .fs-pc-12;
    @extend .lh-pc-18; 
    @extend .p-0;
    @extend .m-0;
}
@mixin slider-blog-tag{
    
    @extend .rounded-1;
    @extend .bgclr-teal;
    @extend .fw-400; 
    @extend .fs-xs-10; 
    @extend .lh-xs-15; 
    @extend .fs-tablet-7;
    @extend .lh-tablet-10;
    @extend .fs-pc-10;
    @extend .lh-pc-18; 
    @extend .text-clr-white; 
    @extend .text-capitalize; 
    @extend .p-0;
    @extend .m-0;
}