
$border-color: var(--clr-gold);
.border-gold{
    border: 1px solid $border-color !important;
}
.product-header-button{
    @media (min-width: 1080px) {
        margin-right: 60px;
    }
    img{
        top: -1px;
        position: relative;
        @media (min-width: 320px) {
            width: 14px;
            height: 7px;
        }
        @media (min-width: 768px) {
            width: 14px;
            height: 14px;
        }
    }
}
.btn-search{
    border: none;
    background-color: transparent;
}
.mobile-search-bar{
    input{
        
        &::placeholder{
            color: var($clr-black-70);
            font-size: 10px;
            @media (min-width: 576px) {
                font-size: 14px;
            }
        }
    }
    .input-group-text{
        z-index: 10;
    }
}

.page-breadcrumb{
    ul{
        margin: 0;
        padding: 0;
        list-style-type: none;
        li{
            position: relative;
            padding: 0 10px;
            @media (min-width: 320px) {
                padding: 0 8px;
            }
            @media (min-width: 768px) {
                padding: 0 10px;
            }
            &:first-child{
                &::before{
                    content: "";
                    display: none;
                }
            }
            &:last-child{
                position: relative;
                top: 2px;
                @media (min-width: 320px) {
                    top: 1px;
                }
                @media (min-width: 768px) {
                    top: 1px;
                }
                @media (min-width: 992px) {
                    top: -1px;
                }
            }
            &::before{
                content: "/";
                position: absolute;
                top: 50%;
                left: -2px;
                transform: translateY(-50%);
                color: var($clr-black-70);
                font-size: 10px;
                @media (min-width: 320px) {
                    font-size: 10px;
                    top: 60%;
                }
                @media (min-width: 768px) {
                    font-size: 12px;
                    top: 60%;
                }
            }
            display: inline-block;
        }
    }
}

.single-product-section{
    .review{
        position: absolute;
        top: -8px;
        right: 15px;
        @media (min-width: 768px) {
            position: relative;
            top: unset;
            right: unset;
        }
    }
}
.previous-price{
    @media (max-width: 767.90px) {
        position: relative;
        top: 7px;
    }
}
.single-img-thumb{
    overflow: hidden;
    
    border: 1px solid $clr-black-20;
    
    @media (min-width: 320px) {
        width: 64px;
        height: 64px;
        padding: 5px;
    }
    @media (min-width: 768px) {
        width: 69px;
        height: 69px;
        padding: 8px;
    }
    @media (min-width: 1080px) {
        width: 121px;
        height: 124px;
        padding: 15px;
    }
    img{
        width: 100%;
        height: 100%;
    }
    &:hover{
        .single-img-thumb-overlay{
            top: 0;
            left: 0;
            visibility: visible;
            opacity: 1;

        }
    }
    .single-img-thumb-overlay{
        top: -100%;
        left: -100%;
        transition: all 0.3s ease-in-out;
        visibility: hidden;
        opacity: 0;
        
        img{
            width: 36px;
            height: 36px;
        }

    }
}

.product-preview-thumb{
    
    img{
        width: 100%;
        height: 100%;
    }
}
.single-product-details{
    .discount{
        @media (min-width: 1080px) {
            font-weight: 700 !important;
        }
    }
    .quality{
        @media (min-width: 1080px) {
            font-weight: 700 !important;
        }
    }
    .in-stock{

    }
}

.add-to-cart-btn{
    span{
        cursor: pointer;
        width: 24px;
        height: 24px;
        border: 1px solid $clr-black-20;
        &:nth-child(2){
            width: 34px !important;
        }
        input{
            width: 100%;
            height: 100%;
            border: none;
            text-align: center;
            background-color: transparent;
            color: $clr-black-70;
            font-size: 16px;
            &:focus-visible{
                outline: none !important;
            }
        }
    }
}

.product-details-row{
    .first-row{
        @media (min-width: 768px) {
            width: 11%;
        }
        
    }
    .second-row{
        @media (min-width: 768px) {
            width: 39%;
        }
        
    }
    .third-row{
        @media (min-width: 768px) {
            width: 50%;
        }
    }
    .third-row{
        @media (min-width: 768px) {
            width: 50%;
        }
    }
}

