$font-size-root:              16px;
$font-size-base:              1rem;


$font-family-sans-serif:      'Poppins', sans-serif;
$font-family-base:            $font-family-sans-serif;
// negative margins
$enable-negative-margins: true;




$clr-black: #000000;
$clr-black-50: rgba(0, 0, 0, 0.5);
$clr-black-70: rgba(0, 0, 0, 0.7);
$clr-black-20: rgba(0, 0, 0, 0.2);
$clr-white: #ffffff;
$clr-aircraft-white:rgba(238, 239, 246,0.5);
$clr-gold:#FFE800;
$clr-gold-50:rgb(255, 232, 0,0.5);
$clr-teal:#004AAD;
$whitesmoke: #edefee;
$gainsboro:#e5e5e5;
$clr-intergalactic-highway:rgba(40, 55, 138,0.8);
$clr-lynx-white: rgba(246, 247, 248,1);
$clr-miyazaki-verdant: rgba(121, 225, 72,1);
$clr-miyazaki-verdant-30: rgba(121, 225, 72,0.3);
$clr-forest-ride:rgba(2, 108, 0,1);


// bootstrap accordion reset for footer
$accordion-button-padding-x:10px;
$accordion-button-padding-y:10px;
$accordion-border-width:0;
$accordion-color: $clr-white;

$accordion-bg: $clr-teal;
$accordion-button-bg: $clr-teal; 
$accordion-button-active-bg: $clr-teal;   

$accordion-button-color: $clr-white;
$accordion-button-active-color: $clr-white;
$accordion-button-focus-box-shadow: none;
$accordion-icon-color: rgba(255,255,255,1);
$accordion-icon-active-color: rgba(255,255,255,1);
$accordion-icon-active-color: $clr-white;

$accordion-button-icon:         url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='#{$accordion-icon-color}' stroke-linecap='round' stroke-linejoin='round'><path d='M2 5L8 11L14 5'/></svg>");
$accordion-button-active-icon:  url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='#{$accordion-icon-active-color}' stroke-linecap='round' stroke-linejoin='round'><path d='M2 5L8 11L14 5'/></svg>");


